.Main {
    width:500px;
    margin-left: auto;
    margin-right: auto;
}
.digit-Title{
    text-align:center;
}
.digit-TextField{
    width:70%;
}
.digit-Button{
   display:inline-block;
   margin-right:0%;  
}
